.NavigationItem {
    margin: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.NavigationItem a {
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 16px 10px;
    box-sizing: border-box;
}

.NavigationItem a:active,
.NavigationItem a:hover,
.NavigationItem a.active {
    background-color: #fbd786;
}

@media (min-width:500px) {
    .NavigationItem {
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
    }
    
    .NavigationItem a {
        color: #fff;
        height: 100%;
        display: block;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:active,
    .NavigationItem a:hover,
    .NavigationItem a.active {
        background-color: #8f5c2c;
        border-bottom: 4px solid #fbd786;
    }
}