.Input {
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

.Label {
    width: 20%;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    color: #703b09;
}

.InputElement {
    width: 60%;
    display: inline-block;
    margin: 8px;
    padding: 5px;
    font: inherit;
    box-sizing: border-box;
}

.Invalid {
    outline: none;
    border: 1px solid red;
    background-color: #ffdde1;
}

.ValidationError {
    margin-top: 0;
    padding-top: 0;
    text-align: left;
    margin-left: 30%;
    color: red;
}