.Input {
    width: 100%;
    box-sizing: border-box;
}

.Label {
    width: 20%;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    color: #703b09;
}

.InputElement {
    width: 60%;
    display: inline-block;
    margin: 8px;
    padding: 5px;
    font: inherit;
    box-sizing: border-box;
}